<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="MDC" sortOrder="2001">
            <label>MDC</label>
        </tab>
        <section id="MDC_loqate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Loqate</label>
            <tab>MDC</tab>
            <resource>MDC_CheckoutStep::config_loqate</resource>
            <group id="loqate_main" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Loqate Configuration </label>
                <field id="loqate_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Key]]></label>
                    
                </field>
            </group>
        </section>
    </system>
</config>
